@tailwind base;
@tailwind components;
@tailwind utilities;



.text2_teams{
  /* align-items: center; */
  height:80px;
  width:650px;
  display: inline;
  /* border-radius: 8px; */
  box-shadow: 10px 10px 8px #888888;
  border-bottom-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
}
/* .img_scientist{
  height: 300px;
  width:300px;
  align-items: center;
  display: inline;
  margin-left: 20px;
} */
.container{
  text-align: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: large;
  font-weight: bold;
}

/* .img1{
  height:340px;
  width:380px;
  justify-content: center;
  margin: auto;
  align-items: center;
  margin-bottom: -240px;
} */

.text1{
  font-family: 'Poppins', sans-serif;
  font-size: large;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
}

.img2{
  position: relative;
  height: 350px;
  width:590px;
  justify-content: center;
  margin: auto;
  align-items: center;
  bottom:60px ;
}

/*  */

.p-2{
  align-items: center;
  justify-content: center;
  margin:auto;
  margin-top: 20px;
}

.header {
  margin-top: 10px;
  text-align: center;
  color: rgb(26, 25, 25);
}

.question-card {
  margin: 0 auto;
  width: 35%;
  /* height:70px; */
  float: left;
  height: auto;
  margin-top: 2px;
  /* background-color: #858094; */
  padding: 3px;
  
  border-radius: 16px;
  /* color: white; */
  box-shadow: rgba(79, 79, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
background: rgba( 246, 234, 234, 0.1 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 10.5px );
-webkit-backdrop-filter: blur( 10.5px ); 
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}


.review-card{
  display: none;
}

@media only screen and (max-width: 600px) {
  /* .review-card {
    width: 50%;
  } */
}

ul {
  list-style: none;
}

li {
  margin-top: 5px;
  /* background-color: #190061; */
  padding: 10px;
  /* border: 3px solid white; */
  /* border: 3px solid rgb(84, 70, 70); */
  border-radius: 50px;
  /* border-bottom-left-radius: 1px solid rgba( 255, 255, 255, 0.18 ); */
  border-bottom: double;
  font-size: 20px;
  
}

li:hover {
  background-color: #39bedc;
}

.question-text {
  /* color: #c5c6c7; */
  font-size: 24px;
}

.roll{
  background-color: red;
  /* Green */
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 24px;
}

.final-results {
  margin: 0 auto;
  width: 35%;
  height: 50%;
  text-align: center;
  margin-top: 54px;
  background-color: #8070ae;
  padding: 50px;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;


}
.final-tick{
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 19px;
}
.final-results p{
  margin:15px;

}

.ms-md-4 {
  background-color: rgb(76, 90, 102);
  margin-top:10px ;
  margin-left: 12.5rem !important;
}

@media only screen and (max-width: 600px) {
  .ms-md-4 {
    margin-left: 6.5rem !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 979px) {

  .ms-md-4 {
    margin-left: 30.5rem !important;
  }


}


.img_scientist {
  margin-top: 65px;
  height: 300px;
  width: 300px;
  align-items: center;
  display: inline;
  margin-left: 20px;
}


.container1 {
  /* text-align: center; */
  /* justify-content: center; */
  display: flex;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: large;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;

}

.img1 {
  height: 340px;
  width: 380px;
  justify-content: center;
  margin: auto;
  margin-top: 32px;
  align-items: center;
  margin-bottom: -240px;
}

@media screen and (max-width: 768px) {
  .img1 {
    height: 220px;
  width: 260px;
  justify-content: center;
  margin: auto;
  align-items: center;
  margin-top: 32px;
  margin-bottom:-160px;
  }

}



.text1 {
  font-family: 'Poppins', sans-serif;
  font-size: large;
  font-weight: bold;
  margin-left: 15px;
}

.img2 {
  position: relative;
  height: 350px;
  width: 590px;
  justify-content: center;
  margin: auto;
  align-items: center;
  bottom: 60px;
}


.p-2 {
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 70px;
}

.start_simulation {
  background-color: rgb(52, 6, 98);
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;
  color: white;
  padding: 12px 18px;
  font-weight: 500;
  margin-bottom: 25px;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 10px;
  font-weight: 500;
}

a:hover {
  background-color: #c4bfbf;
  color: black;
}

.next {
  background-color: rgb(52, 6, 98);
  /* background-color: #04AA6D; */
  color: white;
  text-decoration: none;
  cursor: pointer;
}


.start_button:hover {
  background-color: rgb(241, 24, 205) !important;
  border: 1.3px solid black  !important;
}



.container {
  display: grid;
  place-items: center;
  width: 250px;
  padding: 60px 0 40px;
  border-radius: 30px;
  background: #eeeeee;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  margin-top: 160px;
}

.container1 {
  place-items: center;
  border-radius: 30px;
  display: inline-block;
  margin: 15px 10px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.sol_text{
text-decoration: underline;
display: flex;
}

.question_theory{
  display: flex;
  margin-top: 12px;
}

.answer_theory{
  margin-bottom: 12px;
}

.container1 img{
  display: block;
  align-items: center;
  justify-content: center;
  margin: 15px 40px;
  margin: auto;
}

/*
  Dice Styles
*/

.dice {
  position: relative;
  width: 100px;
  height: 100px;
  margin-left: 78px;
  transform-style: preserve-3d;
  transition: 1s ease;
}

@keyframes rolling {
  50% {
    transform: rotateX(455deg) rotateY(455deg);
  }
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  /* margin-left: 78px; */
  border-radius: 20px;
  border: 5px solid #f6f3f0;
  transform-style: preserve-3d;
  background: linear-gradient(145deg, #dddbd8, #fff);
}

.face::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #f6f3f0;
  transform: translateZ(-1px);
}

.face::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #131210;
}

.front {
  transform: translateZ(50px);
}

.back {
  transform: rotateX(180deg) translateZ(50px);
}

.top {
  transform: rotateX(90deg) translateZ(50px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(50px);
}

.right {
  transform: rotateY(90deg) translateZ(50px);
}

.left {
  transform: rotateY(-90deg) translateZ(50px);
}

.front::after {
  width: 30px;
  height: 30px;
  background: #f63330;
  margin: -15px 0 0 -15px;
}

.back::after {
  margin: -35px 0 0 -30px;
  box-shadow: 40px 0,
    0 25px,
    40px 25px,
    0 50px,
    40px 50px;
}

.top::after {
  margin: -30px 0 0 -30px;
  box-shadow: 40px 40px;
}

.bottom::after {
  margin: -36px 0 0 -36px;
  box-shadow: 26px 26px,
    52px 52px,
    52px 0,
    0 52px;
}

.right::after {
  margin: -30px 0 0 -30px;
  box-shadow: 40px 0,
    0 40px,
    40px 40px;
}

.left::after {
  margin: -35px 0 0 -35px;
  box-shadow: 25px 25px,
    50px 50px;
}

/*
  Roll Button styles
*/

.roll {
  cursor: pointer;
  /* color: #b33951; */
  /* color: rgb(85, 33, 138); */
  margin-top: 45px;
  padding: 6px 12px;
  border-radius: 3px;
  font: 700 16px 'Montserrat';
  /* border: 2px solid #b33951; */
  /* border: 2px solid rgb(85, 33, 138); */
  transition: .4s;
}

.roll:hover {
  color: #fff;
  /* background: #b33951; */
  background: rgb(85, 33, 138);
}



.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* h1 {
  padding-top: 20px;
  font-size: 24px;
  color: #333;
} */


.question-container {
  border: 1px dotted #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  text-align: left;
  width: 60%;
  margin-top: 20px;
  box-shadow: 0 4px 16px 0 rgba(31, 38, 135, 0.37);
}

.question {
  margin-bottom: 20px;
}

.options label {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.options input[type="radio"] {
  margin-right: 10px;
}

.option {
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.option.correct {
  background-color: #cdeccd;
}

.option.incorrect {
  background-color: #f3b3b3;
}

.correct-answer {
  margin-top: 10px;
  font-weight: bold;
  color: green;
}

.incorrect-answer {
  margin-top: 10px;
  font-weight: bold;
  color: red;
}

.button-container {
  margin-top: 20px;
}

.reset {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.reset:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


.button10 {
  display: block;
  position: fixed;
  font-family: 'Baloo Bhai 2', cursive;
  font-style: bold;
  font-size: 22px;
  width: 140px;
  height: 60px;
  padding: 13px;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  /* border: 2px solid #009688; */
  border: 2px solid rgb(85, 33, 138);
  background: transparent;
  cursor: pointer;
  overflow: hidden;
  color: black;
  /* margin-top: 290px; */
  /* margin-top: 235px; */
  margin-top: 18%;
  /* margin-left: 635px; */
  /* margin-left: 555px; */
  margin-left: 44.4%;
}

.span1{
  background-color: rgb(85, 33, 138);
  /* background-color: #009688; */
  /* background-color:  #a881af; */
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

.button10:hover .span1 {
  width: 100%;
  /* background-color: #009688; */
}

.button10:hover {
  border: none;
  color: white;
  /* background-color: #009688; */
}

.home {
  /* position: relative; */
  /*height: 100vh;
  width: 100vw; */
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  margin: auto;
  background-attachment: fixed;
  background-size: cover;
   /* margin-left: 435px; */
   /* margin-top: 55px; */
   /* margin-left: 335px;  */
  margin-left: 26.6%;
}

.home2 {
  position: relative;
  font-style: bold;
  font-size: 50px;
  color: #252839;
  -webkit-text-stroke: 0.3vw #383d52;
  text-transform: uppercase;
  font-family: 'Baloo Bhai 2', cursive;
  padding-left: 10px;
  background-attachment: fixed;
  background-size: cover;
  /* animation-name: animate1 ; */
}


.home2::after {
  text-indent: 15px;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #01fe87;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #01fe87;
  overflow: hidden;
  animation: animate1 6s linear infinite;
  background-attachment: fixed;
  padding-right: 6px;
}


 @keyframes animate1 {
  0%,10%,100% {
    width: 0;
  }
  70%,90% {
    width: 100%;
  }
} 

.home3 {
  /* position: relative; */
  position: block;
  font-style: bold;
  font-size: 50px;
  color: #252839;
  -webkit-text-stroke: 0.3vw #383d52;
  text-transform: uppercase;
  font-family: 'Baloo Bhai 2', cursive;
  /* background-attachment:fixed; */
  background-size: cover;
}


.fav {
  display: flex;
  align-items: center;
  gap: 3px;
  color:#333;
}

.generate-btn{
  display: block;
  position: relative;
  font-family: 'Baloo Bhai 2', cursive;
  font-style: bold;
  font-size: 16px;
  width: 180px;
  height: 40px;
  /* padding: 13px; */
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  /* border: 2px solid #009688; */
  /* border: 2px solid rgb(85, 33, 138); */
  /* background: transparent; */
  background: rgb(85, 33, 138);
  cursor: pointer;
  overflow: hidden;
  color: white;
  margin-left: 95px;
}

.plot-container{
  display: flex;
  position:absolute;
  justify-content: center;
  /* margin-left: 30%; */
     /* margin-left:24rem; */
     margin-left:28.5rem;
  /* margin-top: -40%; */
  /* margin-top: -29rem; */
  margin-top: -27rem;
  /* width: 100%;
  height: 400px; */

}
  


.input-container{
  margin-left: 35px;
  margin-top: 25px;
  margin-bottom: 25px;
}



  /* media queries1 */
  @media (max-width: 700px) {
    .nav-links {
      display: none;
    }
  
    .menu-icon {
      display: block; 
    }
  }
  
  @media (min-width: 701px) {
    .menu-icon {
      display: none; 
    }
  
    .nav-links {
      display: flex;
    }
  }


/* media queries2 */
@media (max-width: 1500px){
  /* .button10{
    margin-top: 23%;
  } */
}

@media (max-width: 1400px){
  /* .button10{
    margin-top: 24%;
  } */
}
@media (max-width: 1200px){
  .button10{
    margin-top: 23%;
  }
}
@media (max-width: 1120px){
  .button10{
    margin-top: 26%;
  }
}
@media (max-width: 990px){
  .text2_teams{
    /* align-items: center; */
    height:80px;
    width:575px;
    display: inline;
    /* border-radius: 8px; */
    box-shadow: 10px 10px 8px #888888;
    border-bottom-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
  }
  .img_scientist{
    height: 300px;
    width:300px;
    align-items: center;
    display: inline;
    margin-left: 20px;
  }
  #home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 18%;
  }
    .button10{
      margin-top: 28%;
      margin-left: 42%;
    }
}

@media (max-width: 915px){
  .text2_teams{
    /* align-items: center; */
    height:80px;
    width:500px;
    display: inline;
    /* border-radius: 8px; */
    box-shadow: 10px 10px 8px #888888;
    border-bottom-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
  }
  .img_scientist{
    height: 300px;
    width:300px;
    align-items: center;
    display: inline;
    margin-left: 20px;
  }
  .button10{
    margin-top: 30%;
  }
}


  @media (max-width : 850px){
    #home{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 28%;
    }
    .bgimg{
      /* width: '100%'; */
      height: '100%';
      background-size: 'cover'; 
      background-repeat: 'no-repeat';
      background-position: 'center';
      /* background-attachment: 'fixed'; */
      /* position:'fixed'; */
    }
    .button10{
      /* margin-top: 61% ; */
      margin-top: 58% ;
    }

    .card1{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: auto;
    }
    .resp{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .card2{
      /* display: flex; */
      align-items: center;
      justify-content: center;
      font-size: large;
      font-weight: bold;
      margin-left: 15px;
    }
    .theory_page{
      display: flex;
      justify-content: center;
      flex-direction: column;

    }
    .butt1{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .text2_teams{
      display: none;
      width: 0;
    }
    
    .img_scientist{
      display: none;
    }
  }

@media (max-width: 730px){
  #home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
  }
  .button10{
    margin-top: 46% ;
  }
  .simulation-card{
    width:90%;
    height:90%;
  }
}

@media (max-width: 700px) {
  
  .resp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .button10{
    margin-top: 62%;
  }
  .simulation-card{
    width:90%;
    height:90%;
  }
}

@media (max-width: 650px){
  .button10{
    margin-top: 67% ;
  }
  #home{
    /* margin-left: 12%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .simulation-card{
    width:90%;
    height:90vh !important;
  }
  .simulation-card button{
    display: flex;
    justify-content: center;
    align-items: center;
    height:46px;
    width:75px;
    margin:30px auto !important;
  }
}

@media (max-width: 550px){
  .button10{
    margin-top: 71% ;
    margin-left: 37%;
  }
  #home{
    font-size: 0rem;
    margin-left: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .simulation-card{
    width:90%;
    height:65vh !important;
  }
  .simulation-card h1{
    font-size: 30px !important;
  }
  .simulation-card p{
    font-size: 20px !important;
  }
  .simulation-card button{
    display: flex;
    justify-content: center;
    align-items: center;
    height:46px;
    width:75px;
    /* margin-right: 175px !important; */
    margin:30px auto !important;
  }
}

@media (max-width: 475px){
  .button10{
    margin-top: 50% ;
    margin-left: 35%;
  }
  #home{
    margin-left: 14%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .simulation-card{
    width:90%;
    height:50vh !important;
  }
  .simulation-card button{
    display: flex;
    justify-content: center;
    align-items: center;
    height:46px;
    width:75px;
    margin:30px auto !important;
  }
}

@media (max-width: 425px){
  .button10{
    margin-top: 86% ;
    /* margin-top: 70% ; */
    /* margin-left: 35%; */
    justify-content: center;
    font-size: 19px;
    padding: 11px;
    height: 52px;
    width: 122px;
  }
  #home{
    margin-left: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home2{
    font-size: 35px;
  }
  .home3{
    font-size: 35px;
  }
  .simulation-card{
    width:80%;
    height:50vh !important;
  }
  .simulation-card h1{
    font-size: 25px !important;
  }
  .simulation-card p{
    font-size: 15px !important;
  }
  .simulation-card button{
    display: flex;
    justify-content: center;
    align-items: center;
    height:46px;
    width:75px;
    margin:40px auto !important;
  }
}
@media (max-width: 380px){
  .simulation-card{
    width:90%;
    height:65vh !important;
  }
  .simulation-card h1{
    font-size: 25px !important;
  }
  .simulation-card p{
    font-size: 15px !important;
  }
  .simulation-card button{
    display: flex;
    justify-content: center;
    align-items: center;
    height:46px;
    width:75px;
    margin:30px auto !important;
    /* margin-left: auto !important; */
  }
}
@media (max-width: 300px){
  .home2{
    font-size: 25px;
  }
  .home3{
    font-size: 25px;
  }
  .button10{
    margin-top: 90% ;
    margin-left: 27%;
    justify-content: center;
    font-size: 17px;
    padding: 9px;
    height: 45px;
    width: 112px;
  }
  .simulation-card{
    width:90%;
    height:65vh !important;
  }
  .simulation-card h1{
    font-size: 25px !important;
  }
  .simulation-card p{
    font-size: 15px !important;
  }
  .simulation-card button{
    display: flex;
    justify-content: center;
    align-items: center;
    height:46px;
    width:75px;
    margin: auto !important;
  }
}

@media (max-width: 290px){
  .simulation-card{
    width:90%;
    height:75vh !important;
  }
  .simulation-card h1{
    font-size: 25px !important;
  }
  .simulation-card p{
    font-size: 15px !important;
  }
  .simulation-card button{
    display: flex;
    justify-content: center;
    align-items: center;
    height:46px;
    width:75px;
    margin: auto !important;
  }
}